@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

body{
    font-family: 'Barlow', sans-serif;
    font-family: 'Poppins', sans-serif;
}

img{
    object-fit: cover;
}

.carousel-item img{
    height: 85vh;
}

.carousel-caption{
    transform: translate(-50%, -50%) !important;
    background-color: rgba(0, 0, 0, 0.5);
}

.accordion-item{
    margin: 1.5rem 0;
}

i{
    font-size: 1.5rem;
}

/* responsive style */
@media only screen and (max-width: 768px){
    .w-sm-75{
        width: 75% !important;
    }
}
@media only screen and (max-width: 443px){
    h1{
        font-size: 2rem !important;
    }
    .w-sm-75{
        width: 80% !important;
    }
}